body {
  padding: 40px;
  font-family: "helvetica neue", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  color: black;
  padding: 20px;
  text-align: center;
  background-color:#eaeaea;
  border-radius:10px;
}
.container h1 {
  margin: 0;
  padding: 20px;
  font-size: 36px;
}
.container .btn {
  border: 0;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  outline: none;
  border-radius: 3px;
  color: #FFF;
  font-weight: bold;
  background-color:black;
}

.btn.blue-btn {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.btn.blue-btn:hover {
   background-color: #6FC6FF;
}

.btn.red-btn {
  background-color: red;
  box-shadow: 0px 5px 0px 0px #ffffff;
}
.btn.red-btn:hover {
  background-color: red;
  box-shadow: 0px 5px 0px 0px #eaeaea;
}

.btn.green-btn {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.btn.green-btn:hover {
  background-color: #48E68B;
}

.btn.purple-btn {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409D;
}

.btn.purple-btn:hover {
  background-color: #B573D0;
}
.buttainer{
  height:100%;
  width:45%;
  border:2px solid black;
  border-radius:5px;
  display:inline-block;
  background-color:white;
}
.buttainer-add{
  height:100%;
  width:45%;
  border:2px solid black;
  border-radius:5px;
  display:inline-block;
  background-color:darkgreen;
}
.buttainer-subtract{
  height:100%;
  width:45%;
  border:2px solid black;
  border-radius:5px;
  display:inline-block;
  background-color:darkred;
}
